<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <title>Boolflix</title>
</head>
<body>
    <div id="root">
        <header>
            <div class="right">
                <img class="logo" src="https://files.slack.com/files-pri/T91QPE3BP-F01TSFY12U9/boolflix.png" alt="logo_boolflix">
                <ul class="nav">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Serie tv</a></li>
                    <li><a href="#">Film</a></li>
                    <li><a href="#">Originali</a></li>
                    <li><a href="#">Aggiunti di recente</a></li>
                    <li><a href="#">La mia lista</a></li>
                </ul>
            </div>
            <div class="left">
                <input @keyup.enter="getMovie" placeholder="Cerca film e serie tv" v-model="searchMovie" type="text">
                <button @click="getMovie"><i class="fas fa-search"></i></button>
            </div>
        </header>
        
        <main>
            <div class="list_results">
                <div v-for="movie in listMovies" class="card">
                    <img v-if="movie.poster_path != null " class="poster" :src="'https://image.tmdb.org/t/p/w342' + movie.poster_path" alt="img_poster">
                    <img class="poster" v-else src="https://bitsofco.de/content/images/2018/12/broken-1.png" alt="">
                    <div class="layover">
                        <!-- TITOLO -->
                        <p v-if="movie.title"><strong>Titolo: </strong>{{movie.title}}</p>
                        <p else="movie.name"><strong>Titolo: </strong>{{movie.name}}</p>

                        <!-- TITOLO ORIGINALE -->
                        <p v-if="movie.original_title"><strong>Titolo originale: </strong>{{movie.original_title}}</p>
                        <p else="movie.original_name"><strong>Titolo originale: </strong>{{movie.original_name}}</p>

                        <!-- VOTO -->
                        <span><strong>Voto: </strong></span>
                        <i v-for="n in movie.vote_average" class="fas fa-star"></i>
                        <i v-for="e in 5 - movie.vote_average" class="far fa-star"></i>

                        <!-- OVERVIEW -->
                        <p><strong>Overview: </strong>{{movie.overview}}</p>
                    </div>
                    <img class="language" v-if="flags.includes(movie.original_language)" :src="'https://www.countryflags.io/' + movie.original_language + '/shiny/64.png'"  alt="">
                    <p class="language" v-else><strong>Lingua originale: </strong>{{movie.original_language}}</p>
                </div>
            </div>
        </main>
    </div>
    <script src="js/script.js"></script>
</body>
</html>